<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2009-2016 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

	<resultMap id="userResultMap"
		type="test.User">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="status" column="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<result property="gender" column="gender" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<association property="role" javaType="test.Role" resultMap="mapper.RoleMapper.roleResultMap"/>
	</resultMap>

	<select id="getUser" resultMap="userResultMap">
		select 
			u.id, u.name, u.status, u.gender, 
			r.id as rid, r.name as rname, r.status as rstatus,
			s.id as srid, s.name as srname, s.status as srstatus, s.type as srtype
		from users u 
		inner join roles r on r.id = u.role_id
		inner join super_roles s on s.id = r.super_role_id
		where id = #{id}
	</select>

	<insert id="insertUser">
		insert into users values(#{id}, #{name}, #{status,
		typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{gender,
		typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{role.id})
	</insert>

</mapper>
